* {
  box-sizing: border-box;
  background-color: #f6f6ec;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
}

/* .wrapper {
  margin: 0 auto;
} */

.title {
  font-size: 4rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

summary {
  font-size: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  list-style: none;
  color: #4169E1;
  transition: all 0.5s ease;
}

.wrapper:hover summary {
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
}

.wrapper:hover summary img {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details {
  border-bottom: 1px solid lightgray;
  min-width: 55rem;
  padding: 1rem 0;
  cursor: pointer;
  text-align: center;
}

.meme-pic {
  display: flex;
  align-items: center;
}

summary .meme-pic {
  display: none;
}

details:hover summary .meme-pic,
details[open] summary .meme-pic {
  display: block;
  height: 60vh;
  object-fit: contain;
  margin: 0 auto;
  width: 80%;
  animation: slide 0.5s ease-in-out;
}

details[open] > summary {
  color: black;
  transition: all 0.5s ease-in-out;
}

details summary{
  animation: slide 0.5s ease-in-out;
}

@keyframes slide {
  0%    { opacity: 0; transform:  translateY(-0.5rem); }
  100%  { opacity: 1; transform:  translateY(0); }
}

details:hover summary .icon,
details[open]  summary  .icon {
  transform: rotate(-45deg);
  transition: transform 0.5s ease;
}

details:hover summary .icon,
details[open]  summary  .icon {
  transition: all 0.5s ease;
}